/**
* Contains high-level interfaces, concrete implementations, and utility classes
* for both the client and server side that are related to the communication of data between computers.
*
* Notable functionality that the implementations provide include:
* <span class="Keyword">HTTP client</span> (Javascript (Ajax) &amp; PHP), <span class="Keyword">REST client</span>, <span class="Keyword">FTP client</span>, <span class="Keyword">Request Routing</span>,
* @version 2
*/