/**
* Contains the high-level interfaces for an application class.
*
* <span class="Keyword">Application</span>s are <span class="Keyword">runnable</span>, and often configurable,
* computer programs.
* In DblEj, an instance of an application class defines an application.
* An application class can be any class that implements <span class="Interface">IApplication</span> or any of it's sub-interfaces.
* The default application interface, <span class="Interface">IApplication</span>, exposes methods for configuring, initializing, and running the application.
* There is also an interface for Web Applications (<span class="Interface">IWebApplication</span>) and MVC Web Applications (<span class="Interface">IMvcWebApplication</span>).
*
* @version 2
*/